﻿@model Dashboard.Models.Views.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<form action="" method="post">
    <div class="page-content-wrapper-inner">
        <div class="content-viewport">
            <div class="row">
                <div class="col-12 py-5">
                    <h1>Dashboard</h1>
                    <p class="text-gray">Welcome</p>
                </div>
            </div>

            <div class="row col-lg-12">
                <div class="grid col-lg-12">
                    <div class="grid-body">
                        <div class="item-wrapper">
                            <div class="form-group">
                                <label for="inputEmail1">Id Wax <span style="color:red;">(ตัวอย่าง zxc.wam)</span></label>
                                @Html.EditorFor(Model => Model.Txt_IdWaxSearch, new { htmlAttributes = new { @class = "form-control form-control-lg", @autocomplete = "off" } })
                            </div>
                            <button type="submit" name="action:Index" class="btn btn-success">
                                ค้นหา
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            @if (Model != null && Model.NameWalletAddress != null && Model.NameWalletAddress != "")
            {
                <div class="row col-lg-12">
                    <div class="grid col-lg-12">
                        <div class="grid-body">
                            <div class="item-wrapper">
                                <h3>Wallet Address :  <span style="color:red;">@Model.NameWalletAddress</span></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6 col-6 equel-grid">
                        <div class="grid">
                            <div class="grid-body text-gray">
                                <div class="d-flex justify-content-between">
                                    <p></p>
                                    <p>@Model.CountFWWCoin</p>
                                </div>
                                <img src="https://wax.alcor.exchange/_nuxt/img/fww_farmerstoken.18858a4.png" style="height: 80px;">
                                <p class="text-black">FWW</p>
                                @*<div class="wrapper w-50 mt-4">
                                    <canvas height="45" id="stat-line_1"></canvas>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6 equel-grid">
                        <div class="grid">
                            <div class="grid-body text-gray">
                                <div class="d-flex justify-content-between">
                                    <p></p>
                                    <p>@Model.CountFWGCoin</p>
                                </div>
                                <img src="https://wax.alcor.exchange/_nuxt/img/fwg_farmerstoken.1e246ba.png" style="height: 80px;">
                                <p class="text-black">FWG</p>
                                @*<div class="wrapper w-50 mt-4">
                                    <canvas height="45" id="stat-line_2"></canvas>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6 equel-grid">
                        <div class="grid">
                            <div class="grid-body text-gray">
                                <div class="d-flex justify-content-between">
                                    <p></p>
                                    <p>@Model.CountFWFCoin</p>
                                </div>
                                <img src="https://wax.alcor.exchange/_nuxt/img/fwf_farmerstoken.6bd52ab.png" style="height: 80px;">
                                <p class="text-black">FWF</p>
                                @*<div class="wrapper w-50 mt-4">
                                    <canvas height="45" id="stat-line_3"></canvas>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6 equel-grid">
                        <div class="grid">
                            <div class="grid-body text-gray">
                                <div class="d-flex justify-content-between">
                                    <p></p>
                                    <p>@Model.CountFarmerCoin</p>
                                </div>
                                <img src="https://ipfs.io/ipfs/Qmam1XbS4Z3SNU1hZzZNNtV1o4V4hpAeRwCZ4nk1YMuech" style="height: 100px;">
                                <p class="text-black">Farmer Coin</p>
                                @*<div class="wrapper w-50 mt-4">
                                    <canvas height="45" id="stat-line_4"></canvas>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</form>